/* navbar */
.navbar-inner {
    background-color: #ffdbf4;
    background-image: none;
}


#intro {
    background: url(../images/yangsmarkgraffiti.jpg) 0% 0 fixed;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    width: 100%;
    position: center center;
    padding: 100px 0;

}

.intro-unit {
    border-radius: 6px 6px 6px 6px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    padding: 60px;
    text-align: center;
}

#features {
    background: url(../images/canyon3.JPG) 0% 0 fixed;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    width: 100%;
    position: center center;
}

#empty-ny {
    background: url(../images/teashoptea.JPG) 50% 0 fixed;
    background-size: cover;
    height: 600px;
}

#about {
    background-color: #0f7bbf; // 
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0;
    color: #fff;
}

#footer {

}


.footer-background {
    background-color: #ffdbf4; //#cfe165; //#ef343e;
    min-height: 60px;
    width: 100%;
        color: #fff;
}

.footer-menu {
    margin-left: 0;

    padding: 0 0 5px;
}
.footer-menu li {
    display: inline;
    list-style-type: none;
}
.footer-menu li a {
    border-left: 1px solid #404040;
    padding: 0 8px;
}
.footer-menu > li:first-child > a {
    border-left: medium none;
    padding: 0 8px 0 0;
}