/* navbar */

/*
.navbar-inner {
    background-color: #ef343e; //#cfe165; //#0f7bbf; //#ffdbf4;
    background-image: none;
}
*/

#span4 {
    width: 30%;
}

#intro {
    background: url(../images/yangsmarkgraffiti.jpg) 0% 0 fixed;
    background-size: cover;
    height: 650px;
    margin: 0 0;
    width: 100%;
    position: center center;
    padding: 100px 0;

}

/* on partydetails page*/
#details {
    background: url(../images/livingroom.jpg) 0% 0 fixed;
    background-size: cover;
    height: 650px;
    margin: 0 0;
    width: 100%;
    position: center center;
    padding: 100px 0;

}


.intro-unit {
    border-radius: 6px 6px 6px 6px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px;
    text-align: center;
}

/* on partydetails page*/
.details-unit {
    border-radius: 6px 6px 6px 6px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px;
    text-align: center;
}



.deets {
    height: 180px;
    padding: 20px;
    background-color: rgba(200,200,200,0.6);
    color: #fff;
    border: none;
}

.deets a:visited {
    color: #b8d044;
}
    
.deets a:active {
    color: #999;
}
    
.deets a {
    color: #452 !important;
}

.label-default {
    background-color: rgba(200, 200, 200, 0.5);
}

#features {
    background: url(../images/canyon3.JPG) 0% 0 fixed;
    background-size: cover;
    height: 650px;
    margin: 0 auto;
    width: 100%;
    position: center center;
}

/* partydetails page */
#dresscode {
    background: url(../images/smarkyangfancy.jpg) 0% 0 fixed;
    background-size: cover;
    height: 650px;
    margin: 0 0;
    width: 100%;
    position: center center;
    padding: 100px 0;
}


#empty-ny {
    background: url(../images/teashoptea.JPG) 50% 0 fixed;
    background-size: cover;
    height: 650px;
}


#about {
    background-color: #ef343e; //#cfe165; // #0f7bbf;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0;
    color: #fff;
}

#footer {

}


.footer-background {
    background-color: #ef343e; //#cfe165; //#0f7bbf; //#ffdbf4; 
    min-height: 60px;
    width: 100%;
    color: #fff;
}

.footer-menu {
    margin-left: 0;

    padding: 0 0 5px;
}
.footer-menu li {
    display: inline;
    list-style-type: none;
}
.footer-menu li a {
    border-left: 1px solid #404040;
    padding: 0 8px;
}
.footer-menu > li:first-child > a {
    border-left: medium none;
    padding: 0 8px 0 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffdbf4;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffdbf4;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e74c3c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffdbf4;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffdbf4;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffdbf4;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffdbf4;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffdbf4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffdbf4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffdbf4;
    background-color: #c0392b;
  }
}